[submodule "2-Inference"]
	path = 2-Inference
	url = https://github.com/rwood-97/multi_node_inference.git
[submodule "3-Training"]
	path = 3-Training
	url = https://github.com/alan-turing-institute/practical-mpi.git
